/instance.cfg

# 一旦全部無視
*
!*/

# Git
!.gitignore
!*.gitignore
!.gitattributes

# ?
!.packignore
!LISENCE
!README.md

# Kubejs
!minecraft/kubejs/**

# Configs
#!minecraft/config/<directory>

# 他に追加したい時はここに書く
# export file
!manifest.json
!modlist.html
!overrides/config/**
!overrides/kubejs/**